.--python {
  filter: drop-shadow(0 5px 2px rgba(55, 122, 160 , .2));
  transition: filter .3s ease;
}
.--python:hover {
  filter: drop-shadow(0 6px 8px rgba(55, 122, 160 , .4));
}

.--javascript {
  filter: drop-shadow(0 5px 2px rgba(240,219,79 , .2));
  transition: filter .3s ease;
}
.--javascript:hover {
  filter: drop-shadow(0 6px 8px rgba(240,219,79 , .4));
}

.--java {
  filter: drop-shadow(0 5px 2px rgba(234,45,46 , .2));
  transition: filter .3s ease;
}
.--java:hover {
  filter: drop-shadow(0 6px 8px rgba(234,45,46 , .4));
}

.--cpp {
  filter: drop-shadow(0 5px 2px rgba(130,19,148 , .2));
  transition: filter .3s ease;
}
.--cpp:hover {
  filter: drop-shadow(0 6px 8px rgba(130,19,148 , .4));
}

.--csharp {
  filter: drop-shadow(0 5px 2px rgba(19,140,148 , .2));
  transition: filter .3s ease;
}
.--csharp:hover {
  filter: drop-shadow(0 6px 8px rgba(19,140,148 , .4));
}

.--go {
  filter: drop-shadow(0 5px 2px rgba(0,172,215 , .2));
  transition: filter .3s ease;
}
.--go:hover {
  filter: drop-shadow(0 6px 8px rgba(0,172,215 , .4));
}

.--c {
  filter: drop-shadow(0 5px 2px rgba(52,19,148 , .2));
  transition: filter .3s ease;
}
.--c:hover {
  filter: drop-shadow(0 6px 8px rgba(52,19,148 , .4));
}

.--rust {
  filter: drop-shadow(0 5px 2px rgba(57,46,46 , .2));
  transition: filter .3s ease;
}
.--rust:hover {
  filter: drop-shadow(0 6px 8px rgba(57,46,46 , .4));
}

.--typescript {
  filter: drop-shadow(0 5px 2px rgba(49,120,198 , .2));
  transition: filter .3s ease;
}
.--typescript:hover {
  filter: drop-shadow(0 6px 8px rgba(49,120,198 , .4));
}

.--bash {
  filter: drop-shadow(0 5px 2px rgba(0,0,0 , .2));
  transition: filter .3s ease;
}
.--bash:hover {
  filter: drop-shadow(0 6px 8px rgba(0,0,0 , .4));
}

.--ruby {
  filter: drop-shadow(0 5px 2px rgba(235,87,87 , .2));
  transition: filter .3s ease;
}
.--ruby:hover {
  filter: drop-shadow(0 6px 8px rgba(235,87,87 , .4));
}

.--php {
  filter: drop-shadow(0 5px 2px rgba(80,94,156 , .2));
  transition: filter .3s ease;
}
.--php:hover {
  filter: drop-shadow(0 6px 8px rgba(80,94,156 , .4));
}